[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
argparse = "*"
datetime = "*"
medpy = "*"
matplotlib = "*"
pydicom = "*"
pandas = "*"
scipy = "*"
sklearn = "*"
scikit-image = "*"
umap-learn = "*"

[dev-packages]

[requires]
python_version = "3.8"
