
:root {
    /*--selected-color: orangered;*/
    /*--selected-color: #800020;*/  /*burgandy*/
    
    --selected-color: #ffc000;  /*my orange color */

    /*--case-color: #00304e;*/
}


html, body {
  line-height: 1;   
   font-family: 'Titillium Web', sans-serif;
   /*font-size: 18px;*/
}

th {
    font-weight: bold;
}


.px-md-4 {
    padding-left: 30px!important;
    padding-right: 30px!important;
}

.btn-outline-secondary {
    border-width: 1.5px;
}

.m-container {
    border-width: 10px;
    border-radius: 5px;
    border-color: #eee;
}

#dataset-tag {
    display: none;
    color: #aaa;
}

#view-mngmt-btn-group {
    display: none;
}

/*#table-btn {
    width: 70px;
}



#table_meas-btn {
    width: 190px;
}*/
#table-btn,
#chart-btn,
#tsne-btn,
#umap-btn,
#image-btn {
    width: 70px;
}



/*#reset-button {
    background-color: #ffc000!important;
    border-color: #00304e !important;
    color: #00304e !important;
}

#reset-button:hover{
     background: #c6d4e3;
}

.view-enabled {
    display: inline-block;
    color: #212529;
    /*color: #00304e;*/
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

.view-disabled {
    display: inline-block;
    color: #212529;
    background-color: transparent;
    border-color: #efefef;
}

#view-mngmt-btn-hidden {
    display: none;
}

#upload-button {
    margin-top: 15%;
}

#upload-input {
    display: none;
}

#table-view {
    display: none;
    height: 250px;
    /*font-weight: bold;*/
    /*border: 5px solid yellow;*/

}



tr.selected td {
    background-color: #00304e;
    /*outline: none !important;*/        /*border arround selected cell */
    outline-color: #00304e !important;
    /*box-shadow: 0 0 0 0;*/

    /*box-shadow: none !important;*/
    /*box-shadow: none !important;*/

    /*color: green;*/
    /*border: 5px solid red;*/
}

/*.tbody{
    background-color: green;
}
*/




#table_meas-view {
    display: none;
    height: 250px;    /* distance after table */
    /*font-weight: bold;*/
    /*border: 5px solid blue;*/

}


#chart-view {
    display: none;
    height: 400px;
    /*border: 5px solid green;*/
}

/*#image-view {
    display: none;
}*/


#umap-view {
    display: flex;
    height: 400px;
    overflow: hidden;
/*    border: 10px solid yellow;*/
    width: 100%;
}




#format-tester {
    display: none;
}

#result-table_wrapper {
    display: flex !important;
    padding: 0px;
}



#result-table_meas_wrapper {
    display: flex !important;
    padding: 0px;
}


/* img view */
#exit-image-select-view-btn,
/*#img-select-button {
    position: fixed;
    padding-left: 15px;
    padding-top: 15px;
    z-index: 1;
}*/

#exit-image-select-view-btn {
    display: none;
}

#img-select,
#comparison-select,
#chart-select,
#chart-sort-btn,
#vis-switch-btn {
    border-width: 1.5px;
    height: 40px;
    color: #898f94;
    border-color: #898f94;
    text-shadow: 0.5px 0.5px 1px #000;
    font-size: 18px;
/*    box-shadow: 0px 0px 2px #555;*/
}

#img-select:hover,
#comparison-select:hover,
#chart-select:hover,
#chart-sort-btn:hover,
#vis-switch-btn:hover {
    background-color: #c6d4e3;
    color: #fff;
}



#select-image-container {
    order: 0;
    height: 100%;
    width: 100%;
    display: table;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    align-content: flex-end;
}

#select-image-container > img {
    max-height: 8%;
    max-width: 8%;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}




/* bar chart */

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    /*stroke: #00304e;*/
    shape-rendering: crispEdges;
    stroke-opacity: 0.1;
}

.selected-bar {
    /*fill: orangered;*/
    fill: #ffc000;
}

.bar {
    fill: #00304e;
    /*fill: #007bff;*/
}

.bar:hover {
    /*fill: orangered;*/
    fill: #ffc000;
}

.y.axis path,
.x.axis path {
    display: none;
}

.x.axis > g > text,
.y.axis > g > text {
    font-size: 11px;
}

g.tick > text {
    font-size: 12px;
    opacity: 0.6;
}

.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 5px;
    background: rgba(0, 0, 0, 0);
    /*color: #fff;*/
    color: rgba(0, 0, 0, 1);    /* value tip color*/
    border-radius: 3px;
    z-index: 2;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}

/* chart selector */

#chart-select-button {
    /*position: fixed;*/
    padding-left: 15px;
    padding-top: 15px;
    width: 250px;
}

#chart-select-group {
    display: flex;
    width: 100%;
}


#chart-select {
    border-width: 1.5px;
    height: 40px;
    width: 100%;
}

#chart-sort-btn {
    width: 50px;
}

#vis-switch-btn {
    width: 100%;
}

#chart-svg-container {
    width: 100%;
    height: 100%;
    /*display: none;*/
}



/*#umap-control-container {
    width: 270px;
    margin-left: 10px;
    border: 5px solid red;
}*/

#umap-control-container {
/*  position: absolute;*/
  top: 70%;
  left: calc(50% + 9%);
  width: 270px;
  margin-left: 10px;
  margin-top: 120px;
  height: 50%;
}

/*#umap-control-container {*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    transform: translate(-9%, 70%);*/
/*    width: 270px;*/
/*    margin-left: 10px;*/
/*    border: 5px solid red;*/
/*    height: 50%;*/
/*}*/


#umap-main-container {
    display: flex; 
    flex: 1;
    flex-direction: column;
/*    border: 5px solid yellow; */
}


#umap-svg-container {
    flex:1;
    height: 85%;
/*    border: 5px solid black;*/
}



#umap-selection-container {
    display: flex;
    width: 100%;
/*    margin-left: 100px;*/
/*    margin-right: 10px;*/
    height: 15%;
/*    border: 5px solid green;*/
}


#umap-svg-container, #umap-selection-container {
    flex-shrink: 20; 
}



#umap-legend-container {
    width: 120px;
/*    border: 5px solid #0000FF;*/
    height: 100%;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}






#parac-svg-container {
    width: 100%;
    height: 100%;
    /*display: none;*/
}

.dt-button-collection {
    height: 300px;
    overflow-y: scroll;
}

/* overlay image */

/*#overlay-container {
    transition: opacity .5s;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100%;
    pointer-events: none; /* later control by jquery */
/*  opacity: 0;        later control by jquery 
}
*/


.my-input-class {
    padding: 3px 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.my-confirm-class {
    padding: 3px 6px;
    font-size: 12px;
    color: white;
    text-align: center;
    vertical-align: middle;
    border-radius: 4px;
    background-color: #337ab7;
    text-decoration: none;
}
.my-cancel-class {
    padding: 3px 6px;
    font-size: 12px;
    color: white;
    text-align: center;
    vertical-align: middle;
    border-radius: 4px;
    background-color: #a94442;
    text-decoration: none;
}

/*table*/

table.dataTable {
    margin-top: 0px!important;
    /*font-weight: bold;*/



}

.table-content {
    padding-right: 0px;
    /*font-weight: bold;*/

    
}


/*parallel coordinate*/

.background-path {
    fill: none;
    stroke: #ddd;
    shape-rendering: crispEdges;
    opacity: 0.5;
}

.foreground-path {
    fill: none;
    /*stroke: #007bff;*/
    stroke: #00304e;
    opacity: 0.5;
}

.selected-foreground-path {
    fill: none;
    /*stroke: var(--selected-color);*/
    stroke: var(--selected-color);
    stroke-width: 2;
    opacity: 1;
}

.brush .extent {
    fill-opacity: .3;
    stroke: #fff;
    shape-rendering: crispEdges;
}


